<!-- 
Invoice dynamically rendered into html using handlebars and converted into pdf
using phantom-pdf recipe. The styles are extracted into separate asset for 
better readability and later reuse.

Data to this sample are mocked at the design time and should be filled on the 
incoming API request.
!-->


<!DOCTYPE html>
<html lang="en">
<head>
 <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<style>
    {#asset Logs styles.css @encoding=utf8}
</style>
</head>
<body>
    <h1 class="text-center">LOGS REPORT</h1>
    <h3 class="text-center">{{getDate logs}}</h3>
    <table class="table">
        <tbody>
        <tr>
            <th>
                Number
            </th>
            <th>
                Code
            </th>
            <th>
                Info
            </th>
            <th>
                User
            </th>
             <th>
                TimeStamp
            </th>
        </tr>
        {{#each logs as |logs index|}}
        <tr>
             <td>
                {{index}}
            </td>
            <td>
                {{code}}
            </td>
            <td>
                {{info}}
            </td>
            <td>
                {{user}}
            </td>
            <td>
                {{timeStamp}}
            </td>
        </tr>
        {{/each}}
      
        </tbody>
    </table>
</body>
</html>
    